body {
  margin: 0px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  cursor: pointer;
  transition: opacity 2s;
}

p {
  text-align: center;
}

.step1 {
  animation: step1 1.5s ease-in-out;
}

.step2 {
  animation: step2 4s ease-in-out;
}

.step3 {
  animation: step3 1s ease-in-out;
}

.step4 {
  animation: step4 2s ease-in-out;
}

.step5 {
  animation: step5 0.5s ease-in-out;
}

.step6 {
  animation: step6 1s ease-in-out;
}

.step7 {
  animation: step7 0.5s ease-in-out;
}

.step8 {
  animation: step8 1.4s ease-in-out;
}

.step9 {
  animation: step9 2s ease-in-out;
}

@keyframes step1 {
  0% {
    color: red;
    transform: scale(150%);
  }

  50% {
    color: crimson;
    transform: scale(200%);
    transform: rotate(15deg);
  }

  100% {
    color: red;
    transform: rotate(-15deg);
    transform: scale(100%);
  }
}

@keyframes step2 {
  0% {
    color: darkred;
  }

  20% {
    color: red;
    transform: rotate(45deg);
  }

  40% {
    color: darkred;
    transform: rotate(-45deg);
  }

  60% {
    color: crimson;
    transform: rotate(50deg);
  }

  80% {
    color: red;
  }
}

@keyframes step3 {
  0% {
    color: crimson;
  }

  50% {
    transform: rotate(360deg);
    color: darkred;
  }
}

@keyframes step4 {
  0% {
    color: rgb(223, 85, 131);
  }

  50% {
    color: rgb(185, 38, 63);
    transform: rotate(-180deg);
  }

  100% {
    color: darkred;
  }
}

@keyframes step5 {
  0% {
    color: rgb(216, 131, 145);
  }
  50% {
    transform: scale(200%);
  }
}

@keyframes step6 {
  0% {
    color:rgb(109, 40, 51);
  }

  50% {
    transform: scaleX(150%);
  }
}


@keyframes step7 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes step8 {
  0% {
    color: rgb(245, 68, 98);
  }

  50% {
    transform: scale(75%);
  }

  100% {
    color: rgb(143, 35, 53);
  }
}

@keyframes step9 {
  50% {
    transform: rotate(180deg);
  }
}